*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px #000000;
}
body{
    height: 600px;
    align-items: center;
    background-image:url('https://source.unsplash.com/1680x900/?landscape');}
    

.card{
   margin: auto;
    width: 470px;
   
   margin-top: 55px;
   background-color: #aaa9a96b;
    
    color: #fff;
    
    border-radius: 15px;
    padding: 40px 35px;
    text-align: center;

}
.search{
    width: 100%;
    display: flex;
    align-items :center;
    justify-content: space-between;


}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 40px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
    text-shadow: none;
    

    
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    
}
.weather-icon{
    width: 170px;

    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin-top: 50px;
}
.col{
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:48px;
    margin-right: 10px;
} 
.humidity, .wind3{
font-size: 28px;
margin-top: -6px;
}
.wind2{
    margin-bottom: 45px;
}
.wind{
    margin-bottom: 45px;
    
}
input:placeholder {
    text-align: center;
}
button:hover{
    background-color: #f1eeee6b;
    transition:0.1s ease-in ;

}
.weather{
    display: none;
}